.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}

.inner{
  overflow: hidden;
}

.inner img{
  transition: all 1.5s ease;
}

.inner:hover img{
  transform: scale(1.5);
}

.ab-head{
  padding-top: 0%;
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 10px;
}



.mainbody h1 {
  font-family: "Montserrat-Bold";
  color: antiquewhite;
  padding-top: 50px;
  margin-top: 150px;
}

.mainbody {
  background-image: url(photos/bg1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Source Sans Pro", sans-serif;
}

.photosbody {
  background-color: #acacac;
}

.mainpara {
  margin-left: 125px;
  margin-right: 125px;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
}

.logo {
  height: 150px;
  width: 200px;
  margin-top: 35px;
  margin-left: 35px;
}


.main {
  color: white;
  font-size: 70px;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 350px;
}
.main2 {
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.photo1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.photo2 {
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
}

.table2 {
  width: 100%;
  margin-bottom: 80px;
}

.table2 td {
  text-align: center;
  vertical-align: text-top;
  text-transform: uppercase;
}

.table3 {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border-collapse: collapse;

}

.table3 td {
  text-align: center;
}

.submit {
  margin-top: 20px;
  margin-bottom: 35px;
}

.formtable{
  align-content: center;
}

.formbody {
  background-color: antiquewhite;
  text-align: center;
  margin-top: 200px;
}

/* Footer */
.footer{
  background: #303036;
  color: #d3d3d3;
  height: 400px;
  position: relative;
}

.footer .footer-content{
  height: 350px;
  display: flex;
}

.footer .footer-content h1,
.footer .footer-content h2 {
  color: white;
}

.footer .footer-content .about .contact span{
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
  border: 1px solid gray;
  width: 45px;
  height: 41px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius:3px;
}

.footer .footer-content .about .socials a:hover {
  border: 1px solid white;
  color: white;
  transition: all .3s;
}

.footer .footer-content .links ul a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom:10px;
  font-size: 1.3em;

}

.footer .footer-content .links ul a:hover {
  color: white;
  margin-left: 15px;
  transition: all .3s;

}
.footer .footer-content .footer-section{
  flex: 1;
  padding: 25px;

}

.footer .footer-content .footer-section

.footer .footer-content .contact-input{
  background: #272727;
  color: #bebdbd;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: .9rem 1.4rem;
  border: none;
}

.btn-big{
  padding: .7rem 1.3rem;
  line-height: 1.3rem;
}

.footer .footer-bottom{
  background: #343a40;
  color: #686868;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  width: 100%;
}